:root {
    --color-titulo: #091133;
    --color-texto: #505F98;
    --color-texto-secundario: #5D6970;
    --color-logo: #37447E;
    --color-fondo: #FFFFFF;
    --color-fondo-alt:  #E7ECFF;
    --color-boton-primary: #091133;
    --color-boton-hover: #e53935;
}
