/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6; /* Fondo suave */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centrar verticalmente */
}

/* Contenedor principal */
h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilo de los campos de entrada */
input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no agrande el tamaño del input */
    font-size: 1em;
}

input[type="text"]:focus {
    border-color: #3498db; /* Cambiar color al hacer foco */
    outline: none;
}

/* Estilo del botón */
button {
    background-color: #3498db; /* Color de fondo */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    width: 85%;
    margin-top: 10px;
}

button:hover {
    background-color: #2980b9; /* Cambio de color al pasar el ratón */
}

/* Estilo de la lista de resultados */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    width: 300px;
    text-align: center;
}

li {
    background-color: #ecf0f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    font-size: 1.1em;
}

li:nth-child(odd) {
    background-color: #e0e0e0; /* Alternar color de fondo para los elementos */
}

/* Estilo de error (si hay problemas con la consulta de la API) */
#error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}
