.contenedor {
    display: flex;
    height: 100vh;
}

.contenedor > .left {
    height: 100vh;
    width: auto;
    max-width: 50vw;
}

.contenedor > .right {
    flex-grow: 1;
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor > .right > .texto {
	max-width: 675px;
	flex-direction: column;
	display: flex;
}


